@using Selfitness.MVC.Models.Account
@using Selfitness.MVC.Resource

@{
    ViewData["title"] = GeneralResource.Registe;
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<form id="registe" class="login-form">
    <h1>@GeneralResource.Registe</h1>
    <div class="content">
        <div class="input-field">
            <input id="account" placeholder="@GeneralResource.Account"/>
        </div>
        <div class="input-field">
            <input id="password" type="password" placeholder="@GeneralResource.Password"/>
        </div>
    </div>
    <div class="action">
        <a href="/Account/Login" class="button">@GeneralResource.Login</a>
        <button type="submit" class="button">@GeneralResource.Registe</button>
    </div>
</form>

<script>
    var accountRegExp = new RegExp("^[a-zA-Z0-9](_(?!(\.|_))|\.(?!(_|\.))|[a-zA-Z0-9]){6,18}[a-zA-Z0-9]$");
    var passwordRegExp = new RegExp("^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,30}$");

    document.getElementById("registe")
        .addEventListener("submit", event => {
            event.preventDefault();

            if (!accountRegExp.test(event.target["account"].value)) {
                Swal.fire("帳號不符合規定", "帳號必須滿足以下條件...", "warning");
                return false;
            }

            if (!passwordRegExp.test(event.target["password"].value)) {
                Swal.fire("密碼不符合規定", "密碼必須滿足以下條件...", "warning");
                return false;
            }

            ajaxSubmit(event.target);
        });

    function ajaxSubmit(form) {
        axios.post('/Account/Registe', {
            account: form["account"].value,
            password: form["password"].value
        })
        .then(function(response) {
            if (response.data.success) {
                window.location = "/";
            }
            else {
                Swal.fire("註冊失敗", response.data.message, "error");
            }
        })
        .catch(function(error) {
            Swal.fire("錯誤", "系統發生錯誤，請稍後再試", "error");
        })
    }
</script>